/* Ajuste do tamanho do corpo do texto */
body {
  font-size: 12pt; /* Tamanho do texto principal conforme ABNT */
  line-height: 1.5; /* Espaçamento entre linhas conforme ABNT */
  margin: 2cm 3cm; /* Margens recomendadas pela ABNT */
}

/* Tamanhos consistentes para cabeçalhos */
h1 {
  font-size: 20pt; /* Tamanho adequado para o título principal */
  font-weight: bold;
}

h2 {
  font-size: 16pt;
  font-weight: bold;
}

h3 {
  font-size: 14pt;
  font-weight: bold;
}

/* Margem inferior para cada cabeçalho */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 12px;
}
  
/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
}

/* Tabelas responsivas */
table {
  width: 100%;
  overflow-x: auto;
  display: block;
}  

/* Posiciona o logotipo no canto superior esquerdo */
.logo-container {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container img {
  width: 100px; /* Ajusta o tamanho do logotipo */
}

/* Rodape */
.custom-footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background-color: #f2f2f2;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  color: #333;
}

.footer-image {
  width: 100px; /* Ajuste conforme necessário */
  margin-top: 10px;
}