<footer style="text-align: center; padding: 10px; font-size: 14px; background-color: #f2f2f2; margin-top: 20px; border-top: 1px solid #ccc;">
  <p>© 2024 Universidade Federal de Rondonópolis - Projeto de Saneamento Básico</p>
  <p>Desenvolvido por Camily Nunes dos Santos</p>
  <img src="https://github.com/CamilyNunes/Produto_San_Bas_Roo/blob/main/Imagens/logtipo_projeto2/Largatinho/lagartinho_projeto_sem_fundo_quali.png?raw=true" alt="Logotipo" style="width: 100px; margin-top: 10px;"/>
</footer>
