<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <div class="social_icon">
        <li><a href="https://twitter.com/seu_perfil" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="https://github.com/seu_perfil" target="_blank"><ion-icon name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.linkedin.com/in/seu_perfil/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/seu_perfil/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </div>
    <div class="menu">
        <li><a href="#Home">Home</a></li>
        <li><a href="#Sobre">Sobre</a></li>
        <li><a href="#Importante">Importância</a></li>
        <li><a href="#Metas">Metas</a></li>
        <li><a href="https://www.iberdrola.com/sustentabilidade/comprometidos-objetivos-desenvolvimento-sustentavel/ods-6-agua-potavel-e-saneamento" target="_blank">Créditos</a></li>
    </div>
    <p>Feito por Seu Nome ᘐ</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
